<div class="container-fluid">

    <div class="row text-center" style="background-color: rgb(20, 20, 192);">
        <h2 class="fjalla-one-regular" style="color: aliceblue; margin-top: 5px">Ofertas do dia</h2>
    </div>


    <div class="carousel"  >
        <div class="group">
            <a href="/produto" class="cardd wobble-hor-bottom">
                <img src="imgs/queijos.png"
                height="150"
                width="200"
                alt="">
            </a>
            <a href="#" class="cardd wobble-hor-bottom">
                <img src="imgs/queijos.png"
                height="150"
                width="200" 
                alt="">
            </a>
            <a href="#" class="cardd wobble-hor-bottom">
                <img src="imgs/queijos.png"
                height="150" 
                width="200" 
                alt="">
            </a>
        </div>
        <!-- Adicione `aria-hidden` para ocultar os cartões duplicados dos leitores de tela. -->
        <div aria-hidden class="group">
            <a href="#" class="cardd">
                <img src="imgs/queijos.png" height="150" width="200" alt="">
            </a>
            <a href="#" class="cardd">
                <img src="imgs/queijos.png" height="150" width="200" alt="">
            </a>
            <a href="#" class="cardd">
                <img src="imgs/queijos.png" height="150" width="200" alt="">
            </a>
        </div>
    </div>
</div>