<header>
  <nav class="navbar" style="background-color:  rgb(24, 24, 248);">
    <a class="navbar-brand link-light" aria-current="page" href="/home-page" routerLink="/home-page"
      routerLinkActive="activebutton" ariaCurrentWhenActive="page">
      <img src="favicon.svg" alt="Logo Merlin" width="30" height="30" class="d-inline-block align-text-top"></a>

    <div class="nav-item">
      <form class="d-flex row" role="search">
        <input class="form-control col-sm-2 col-form-label col-form-label-sm" type="search" placeholder="Qual é seu desejo hoje?" aria-label="Search">
      </form>
    </div>
    
    <div class="">
      <!-- Barra lateral, tela de Login -->
      <a class="btn " data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
        aria-controls="offcanvasExample">
        <span class="material-symbols-outlined" style="color:white;">
          login
        </span>
      </a>
    </div>

  </nav>

  <app-lista-catalago />

</header>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Acessar conta</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-offcanvas />
  </div>
</div>
