<div class="container">

    <h5>Ofertas do dia</h5>
    <div class="carousel">
        <div class="group">
            <div class="cardd">A</div>
            <div class="cardd">B</div>
            <div class="cardd">C</div>
        </div>
        <!-- Adicione `aria-hidden` para ocultar os cartões duplicados dos leitores de tela. -->
        <div aria-hidden class="group">
            <div class="cardd">A</div>
            <div class="cardd">B</div>
            <div class="cardd">C</div>
        </div>
    </div>
</div>