<div class="">
    <section class="row text-center">
        <div class="col card">
            <div class="card-body">
                <p class="card-title">Frutas</p>
            </div>
        </div>
        <div class="col card">
            <div class="card-body">
               <p class="card-title">Cereais</p>
            </div>
        </div>
        <div class="col card">
            <div class="card-body">
                <p class="card-title">Vegetais</p>
            </div>
        </div>
        <div class="col card">
            <div class="card-body">
                <p class="card-title">Legumes</p>
            </div>
        </div>
        <div class="col card">
            <div class="card-body">
                <p class="card-title">
                Carnes e pescas
                </p>
            </div>
        </div>
        <div class="col card">
            <div class="card-body">
                <p class="card-title">
                Laticínios
                </p>
            </div>
        </div>
    </section>
</div>
