.row {
    background-color: rgb(24, 24, 248);
}

.card {
    margin: 5px;
    border: none;
    background-color: rgb(24, 24, 248);
    color: white;
}

.card-body {
    border: solid rgb(24, 24, 248) ;
}

.card-body:hover {
    /* border: solid yellow; */
    color: yellow;
}


@media (max-width: 575.98px) {
    .card {
        min-width: 140px;
        margin-right: 5px;
    }

    img {
        width: 80px;
    }
}

@media (max-width: 767.98px) {
    img {
        width: 100px;
    }
 }

@media (max-width: 991.98px) {

 }

@media (max-width: 1199.98px) {

 }

@media (max-width: 1399.98px) {

 }
