<div class="row g-2">
   
    <div class="card">
        <div class="header">
            <div class="img-box">
                <img src="imgs/frutas.png" class="img-fluid" alt="">
            </div>
            <span class="title">Frutas
        </span></div>
    
        <div class="content">
            <p>
                Lorem ipsum dolor sit tali amet, consectus uy
                adipiscing it amet it...
            </p>
    
            <a class="btn-link">Read More...</a>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <div class="img-box">
                <img src="imgs/queijos.png" class="img-fluid" alt="">
            </div>
            <span class="title">Frutas
        </span></div>
    
        <div class="content">
            <p>
                Lorem ipsum dolor sit tali amet, consectus uy
                adipiscing it amet it...
            </p>
    
            <a class="btn-link">Read More...</a>
        </div>
    </div>
</div>