<div class="container-fluid">
    
    <div class="row text-center" style="background-color:   rgb(20, 20, 192);">
        <h2 class="fjalla-one-regular" style="color: aliceblue; margin: 5px;">Café da Manhã</h2>
    </div>

    <div class="row g-2" style="margin: 5px">

        <a href="#" class="col">
            <app-section-product />
        </a>

        <a href="#" class="col">
            <app-section-product />
        </a>

        <a href="#" class="col">
            <app-section-product />
        </a>

        <a href="#" class="col">
            <app-section-product />
        </a>
      
        
    </div>
</div>